html, body {
  width: 200px;

}

h3{
  text-align: center;
}

.toggleBtn {
    margin:2px 2px;
    border-radius:10px;
    -webkit-border-radius:10px;
    box-shadow:0 1px 2px #5e5d5b;
    text-align: center;
    line-height: 65px;
}
.website {
  width: 100%;
  padding: 0px;
  font-size: 1.5em;
  text-align: center;
  cursor: pointer;
}

.website:hover {
  background-color: #CFF2F2;
}
